<style>
    .iterative-xblock-style-redfid .iterative-xblock-student-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .iterative-xblock-style-redfid .iterative-xblock-student-row p {
        margin: 0 !important;
    }

    .iterative-xblock-style-redfid .iterative-xblock-student-cell {
        flex: 1;
        padding: 5px 10px;
    }

    .iterative-xblock-style-redfid .iterative-xblock-student-cell textarea {
        width: 100%;
        min-height: 100px;
        font-size: 0.9em;
    }

    .iterative-xblock-style-redfid {
        border: 2px solid #ff595a;
        border-radius: 10px;
    }

    .iterative-xblock-style-redfid .exptop {
        padding: 20px;
        background-color: #ff595a;
    }

    .iterative-xblock-style-redfid .exptop h1 {
        font-size: 1.5em;
        color: white;
        margin-bottom: 0 !important;
        margin-left: 10px;
    }

    .iterative-xblock-style-redfid .expmid {
        padding: 20px;
    }

    .iterative-xblock-style-redfid .iterative-xblock-action {
        text-align: center;
        margin-top: 20px;
    }

    .iterative-xblock-style-redfid .iterative-xblock-submit {
        background-color: #ff595a;
        background-image: none;
        color: white;
        border: none;
        text-shadow: none;
        font-size: 1em;
        padding: 15px 30px;
    }

    .iterative-xblock-style-redfid .iterative-xblock-submit:hover {
        background-color: #ff595a !important;
        background-image: none !important;
        color: white;
        border: none;
        text-shadow: none;
        font-size: 1em;
    }

    .iterative-xblock-style-redfid .iterative-xblock-student-cell span {
        background-color: #ff595a;
        background-image: none;
        color: white;
        border: none;
        text-shadow: none;
        font-size: 1em;
        padding: 8px 15px;
        border-radius: 3px;
        font-weight: bold;
        margin: auto;
    }

</style>
<div class="iterative-xblock-container_block xmodule_display xmodule_HtmlModule">
    <div class="iterative-xblock iterative-xblock-style-{{style}}{% if gridlines %} iterative-xblock-gridlines{% endif %}"
        id="{{xblock.type}}{{location}}">
        <div class="exptop">
            <h1 class="iterative-xblock-title">{{title}}</h1>
        </div>
        <div class="expmid">
            {% if not configured %}
            <div class="iterative-xblock-not-created">
                <p class="centered">This XBlock has not been configured yet.</p>
            </div>
            {% else %}
            {% for row_id, row in content.items %}
            {% if row_id != 'n_rows' %}
            <div class="iterative-xblock-student-row">
                {% for cell_id, cell in row.items %}
                {% if cell_id != 'n_cells' %}
                <div class="iterative-xblock-student-cell">
                    {% if cell.type == 'text' %}
                    <p>{{ cell.content }}</p>
                    {% elif cell.type == 'question' %}
                    <textarea type="text" class="iterative-xblock-student-input"
                        id="iterative-xblock-student-input-{{ cell.content }}" ></textarea>
                    {% elif cell.type == 'answer' %}
                    <span>Ver respuesta</span>
                    <p></p>
                    {% endif %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            {% endfor %}
            <div class="action iterative-xblock-action">
                <button class="iterative-xblock-submit submit Submit"
                    aria-describedby="iterative-xblock_submit_{{ location }}">
                    <span>Submit</span>
                </button>
            </div>

            <div id="iterative-xblock-student-msg">
                <p id="iterative-xblock-student-error-msg" class="iterative-xblock-error-msg"></p>
                <p id="iterative-xblock-student-warning-msg" class="iterative-xblock-warning-msg"></p>
                <p id="iterative-xblock-student-success-msg" class="iterative-xblock-success-msg"></p>
            </div>
            {% endif %}
        </div>
    </div>
</div>