{% if configured %}
<script>
    MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
</script>
<div class="iterative-xblock-container_block xmodule_display xmodule_HtmlModule">
    <div class="iterative-xblock iterative-xblock-style-{{style}}{% if gridlines %} iterative-xblock-gridlines{% endif %}"
        id="{{xblock.type}}{{location}}">
        <div class="exptop">
            <h1 class="iterative-xblock-title">{{title}}</h1>
        </div>
        <div class="expmid">
            {% if indicator_class == 'unanswered' %}
            <div class="status {{ indicator_class }}" id="status_{{ location }}"></div>
            {% else %}
            <div class="status " id="status_{{ location }}"></div>
            {% endif %}
            <table>
            {% for row_id, row in content.items %}
            {% if row_id != 'n_rows' %}
            <tr class="iterative-xblock-student-row">
                {% for cell_id, cell in row.items %}
                {% if cell_id != 'n_cells' %}
                <td class="iterative-xblock-student-cell iterative-xblock-cell-{{ cell.type }}" >
                    {% if cell.type == 'text' %}
                    <p style="text-align: {{ cell.alignment }};{% if cell.bold %}font-weight: bold;{% endif %}{% if cell.italic %}font-style: italic;{% endif %}text-decoration: {% if cell.underline %}underline {% endif %}{% if cell.strikethrough %}line-through{% endif %}">{{ cell.content }}</p>
                    {% elif cell.type == 'question' %}
                    <textarea type="text" class="iterative-xblock-student-question"
                        id="iterative-xblock-student-question-{{ cell.content }}" 
                        style="text-align: {{ cell.alignment }};{% if cell.bold %}font-weight: bold;{% endif %}{% if cell.italic %}font-style: italic;{% endif %}text-decoration: {% if cell.underline %}underline {% endif %}{% if cell.strikethrough %}line-through{% endif %}"
                        ></textarea>
                    {% elif cell.type == 'answer' %}
                    <div class="iterative-xblock-student-answer-container">
                        <span id="iterative-xblock-student-get-answer-{{ cell.content }}" class="iterative-xblock-student-get-answer">{{ display_message }}</span>
                        <textarea disabled type="text" class="iterative-xblock-student-answer"
                            style="text-align: {{ cell.alignment }};{% if cell.bold %}font-weight: bold;{% endif %}{% if cell.italic %}font-style: italic;{% endif %}text-decoration: {% if cell.underline %}underline {% endif %}{% if cell.strikethrough %}line-through{% endif %}"
                            id="iterative-xblock-student-answer-{{ cell.content }}" ></textarea>
                    </div>
                    {% endif %}
                </td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endif %}
            {% endfor %}
            </table>
            {% if show_submit_button %}
            <div class="action iterative-xblock-action">
                <button class="iterative-xblock-submit submit Submit"
                    aria-describedby="iterative-xblock_submit_{{ location }}">
                    <span>{{ submit_message }}</span>
                </button>
            </div>
            {% endif %}
            {% if enable_download %}
            <div class="centered">
                <button class="iterative-xblock-student-download-pdf"
                aria-describedby="iterative-xblock_download_{{ location }}">
                    <span>PDF</span>
                </button>
            </div>
            {% endif %}
            <div class="iterative-xblock-student-msg">
                <p id="iterative-xblock-student-error-msg" class="iterative-xblock-error-msg"></p>
            </div>
        </div>
    </div>
</div>
{% endif %}
