<div class="iterative-xblock-container_block xmodule_display xmodule_HtmlModule">
    <div class="iterative-xblock iterative-xblock-style-{{style}}{% if gridlines %} iterative-xblock-gridlines{% endif %}" id="{{xblock.type}}{{location}}">
        <div class="exptop">
            <h1 class="iterative-xblock-title">{{title}}</h1>
        </div>
        <div class="expmid">
            {% if not configured %}
            <div class="iterative-xblock-not-created">
                <p class="centered">This XBlock has not been configured yet.</p>
            </div>
            {% else %}
            {% for row_id, row in content.items %}
            {% if row_id != 'n_rows' %}
            <div class="iterative-xblock-student-row">
                {% for cell_id, cell in row.items %}
                {% if cell_id != 'n_cells' %}
                <div class="iterative-xblock-student-cell">
                    {% if cell.type == 'text' %}
                    <p>{{ cell.content }}</p>
                    {% elif cell.type == 'question' %}
                    <textarea disabled type="text" class="iterative-xblock-student-question"
                        id="iterative-xblock-student-question-{{ cell.content }}" >{{ cell.content }}</textarea>
                    {% elif cell.type == 'answer' %}
                    <div class="iterative-xblock-student-answer-container">
                        <button id="iterative-xblock-student-get-answer-{{ cell.content }}" class="iterative-xblock-student-get-answer">{{ cell.content }}</button>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>