{% if configured %}
<div class="iterative-xblock-container_block xmodule_display xmodule_HtmlModule">
    <div class="iterative-xblock iterative-xblock-style-{{style}}{% if gridlines %} iterative-xblock-gridlines{% endif %}"
        id="{{xblock.type}}{{location}}">
        <div class="exptop">
            <h1 class="iterative-xblock-title">{{title}}</h1>
        </div>
        <div class="expmid">
            {% if show_student_select %}
            <div class="iterative-xblock-instructor-select-student-container">
                <p>Estudiante: </p>
                <select id="iterative-xblock-instructor-select-student">
                    <option value="none" disabled selected>Por favor seleccione una opción...</option>
                    {% for student in answers %}
                    <option value="{{student.id_student}}">{{ student.last_name }}, {{ student.first_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <hr>
            {% endif %}
            <style>
                .iterative-xblock-gridarea {
                    display: grid;
                    grid-template-areas: {% for line in content.true_grid %}"{{ line }}" {% endfor %};
                }
                {% for cell_key, cell_value in content.content.items %}
                .{{ cell_key }} {
                    grid-area: {{ cell_key.5 }};
                    padding: {% if cell_value.type == 'text' %}1em{% else %}0{% endif %};
                    display: flex;
                    border-left: {% if cell_value.format.border_left %}{% if cell_value.format.border_bold %}3px{% else %}1px{% endif %} solid #000;{% else %}none;{% endif %}
                    border-right: {% if cell_value.format.border_right %}{% if cell_value.format.border_bold %}3px{% else %}1px{% endif %} solid #000;{% else %}none;{% endif %}
                    border-top: {% if cell_value.format.border_top %}{% if cell_value.format.border_bold %}3px{% else %}1px{% endif %} solid #000;{% else %}none;{% endif %}
                    border-bottom: {% if cell_value.format.border_bottom %}{% if cell_value.format.border_bold %}3px{% else %}1px{% endif %} solid #000;{% else %}none;{% endif %}
                    {% if cell_value.format.horizontal_align == 'left' %}justify-content: start;{% endif %}
                    {% if cell_value.format.horizontal_align == 'center' %}justify-content: center;{% endif %}
                    {% if cell_value.format.horizontal_align == 'right' %}justify-content: end;{% endif %}
                    {% if cell_value.format.horizontal_align == 'justify' %}justify-content: start;{% endif %}
                    {% if cell_value.format.vertical_align == 'top' %}align-items: start;{% endif %}
                    {% if cell_value.format.vertical_align == 'middle' %}align-items: center;{% endif %}
                    {% if cell_value.format.vertical_align == 'bottom' %}align-items: end;{% endif %}
                }
                .{{ cell_key }} p {
                    margin-bottom: 0 !important;
                    {% if cell_value.format.bold %}font-weight: bold;{% endif %}
                    {% if cell_value.format.italic %}font-style: italic;{% endif %}
                    {% if cell_value.format.underline %}text-decoration: underline;{% endif %}
                    {% if cell_value.format.horizontal_align == 'left' %}text-align: left;{% endif %}
                    {% if cell_value.format.horizontal_align == 'center' %}text-align: center;{% endif %}
                    {% if cell_value.format.horizontal_align == 'right' %}text-align: right;{% endif %}
                    {% if cell_value.format.horizontal_align == 'justify' %}text-align: justify;{% endif %}
                }
                .{{ cell_key }} textarea {
                    {% if cell_value.format.bold %}font-weight: bold;{% endif %}
                    {% if cell_value.format.italic %}font-style: italic;{% endif %}
                    {% if cell_value.format.underline %}text-decoration: underline;{% endif %}
                    {% if cell_value.format.horizontal_align == 'left' %}text-align: left;{% endif %}
                    {% if cell_value.format.horizontal_align == 'center' %}text-align: center;{% endif %}
                    {% if cell_value.format.horizontal_align == 'right' %}text-align: right;{% endif %}
                    {% if cell_value.format.horizontal_align == 'justify' %}text-align: justify;{% endif %}
                }
                {% endfor %}
            </style>
            <div class="iterative-xblock-gridarea">
                {% for cell_key, cell_value in content.content.items %}
                <div class="{{ cell_key }}">
                    {% if cell_value.type == 'text' %}
                        <p>{{ cell_value.content }}</p>
                    {% elif cell_value.type == 'iframe' %}
                        <iframe src="{{ cell_value.content }}" width="100%" height="100%"></iframe>
                    {% elif cell_value.type == 'question' %}
                        <textarea disabled class="iterative-xblock-question" id="iterative-xblock-question-{{ cell_value.content }}" name="{{ cell_value.content }}" value="" placeholder="{{ cell_value.metadata.placeholder }}"></textarea>
                    {% elif cell_value.type == 'answer' %}
                        <button id="iterative-xblock-student-get-answer-{{ cell_value.content }}" class="iterative-xblock-student-get-answer">{{ cell_value.metadata.placeholder }} ({{ cell_value.content }})</button>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="action">
            </div>
        </div>
    </div>
</div>
{% endif %}