<div class="iterative-xblock-container_block xmodule_display xmodule_HtmlModule">
    <div class="iterative-xblock iterative-xblock-style-{{style}}{% if gridlines %} iterative-xblock-gridlines{% endif %}"
        id="{{xblock.type}}{{location}}">
        <div class="exptop">
            <h1 class="iterative-xblock-title">{{title}}</h1>
        </div>
        <div class="expmid">
            {% if not configured %}
            <div class="iterative-xblock-not-created">
                <p class="centered">Este XBlock no ha sido configurado aún. No se mostrará en el LMS.</p>
            </div>
            {% else %}
            <style>
                .iterative-xblock-gridarea {
                    display: grid;
                    grid-template-areas: {% for line in content.true_grid %}"{{ line }}" {% endfor %};
                }
                {% for cell_key, cell_value in content.content.items %}
                .{{ cell_key }} {
                    grid-area: {{ cell_key.5 }};
                    padding: 1em;
                    background-color: #f9f9f9;
                    border: 1px solid #ccc;
                }
                {% endfor %}
            </style>
            <div class="iterative-xblock-gridarea">
                {% for cell_key, cell_value in content.content.items %}
                <div class="{{ cell_key }}">
                    {{ cell_key }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>