.iterative-xblock-style-nostyle .iterative-xblock-cell-title {
    background-color: #b7b7b7;
}

.iterative-xblock-style-nostyle .iterative-xblock-cell-subtitle p {
    background-color: #efefef;
}

.iterative-xblock-style-basic .iterative-xblock-student-get-answer {
    background-color: #b7b7b7;
    color: #646464;
}
