.iterative-xblock-style-red {
    border: 2px solid #ff595a;
    border-radius: 10px;
}

.iterative-xblock-style-red .exptop {
    padding: 20px;
    background-color: #ff595a;
    border-radius: 3px;
}

.iterative-xblock-style-red .exptop h1 {
    font-size: 1.5em;
    color: white;
    margin-bottom: 0 !important;
    margin-left: 10px;
    font-weight: normal;
}

.iterative-xblock-style-red .iterative-xblock-submit {
    background-color: #ff595a;
    background-image: none;
    color: white;
    border: none;
    text-shadow: none;
    font-size: 1em;
    padding: 15px 30px;
}

.iterative-xblock-style-red .iterative-xblock-student-download-pdf {
    background-color: #ff595a;
    background-image: none;
    color: white;
    border: none;
    text-shadow: none;
    font-size: 1em;
    padding: 15px 30px;
}

.iterative-xblock-style-red .iterative-xblock-submit:hover {
    background-color: #ff595a !important;
    background-image: none !important;
    color: white;
    border: none;
    text-shadow: none;
    font-size: 1em;
}

.iterative-xblock-style-red .iterative-xblock-student-download-pdf:hover {
    background-color: #ff595a !important;
    background-image: none !important;
    color: white;
    border: none;
    text-shadow: none;
    font-size: 1em;
}

.iterative-xblock-style-red .iterative-xblock-student-msg p {
    color: red;
    text-align: center;
    margin-top: 30px;
}

.iterative-xblock-style-red .iterative-xblock-student-get-answer {
    background-color: #ff595a;
    color: white;
}

.iterative-xblock-style-red .iterative-xblock-student-answer {
    width: 100%;
    z-index: 1;
    padding: 10px;
    resize: none;
}

.iterative-xblock-style-red .iterative-xblock-instructor-select-student-container p {
    margin-bottom: 0 !important;
    margin-right: 20px;
    font-weight: bold;

}

.iterative-xblock-style-red .iterative-xblock-instructor-select-student-container select {
    width: 100%;
}

.iterative-xblock-style-red .iterative-xblock-cell-title {
    background-color: #b7b7b7;
}

.iterative-xblock-style-red .iterative-xblock-cell-subtitle p {
    background-color: #efefef;
}
