.iterative-xblock-style-basic {
    border: 2px solid #065683;
}

.iterative-xblock-style-basic .exptop {
    padding: 20px;
    background-color: #065683;
}

.iterative-xblock-style-basic .exptop h1 {
    font-size: 1.3em;
    color: white;
    margin-bottom: 0 !important;
    margin-left: 10px;
    font-weight: normal;
}

.iterative-xblock-style-basic .iterative-xblock-submit {
    background-color: #065683;
    background-image: none;
    color: white;
    border: none;
    text-shadow: none;
    font-size: 1em;
    padding: 15px 30px;
}

.iterative-xblock-style-basic .iterative-xblock-student-download-pdf {
    background-color: #065683;
    background-image: none;
    color: white;
    border: none;
    text-shadow: none;
    font-size: 1em;
    padding: 15px 30px;
}

.iterative-xblock-style-basic .iterative-xblock-submit:hover {
    background-color: #065683 !important;
    background-image: none !important;
    color: white;
    border: none;
    text-shadow: none;
    font-size: 1em;
}

.iterative-xblock-style-basic .iterative-xblock-student-download-pdf:hover {
    background-color: #065683 !important;
    background-image: none !important;
    color: white;
    border: none;
    text-shadow: none;
    font-size: 1em;
}

.iterative-xblock-style-basic .iterative-xblock-student-msg p {
    color: red;
    text-align: center;
    margin-top: 30px;
}

.iterative-xblock-style-basic .iterative-xblock-student-get-answer {
    background-color: #065683;
    color: white;
}

.iterative-xblock-style-basic .iterative-xblock-student-answer {
    width: 100%;
    z-index: 1;
    padding: 10px;
    resize: none;
}

.iterative-xblock-style-basic .iterative-xblock-instructor-select-student-container select {
    width: 100%;
}

.iterative-xblock-style-basic .iterative-xblock-cell-title {
    background-color: #a6c9dd;
}

.iterative-xblock-style-nostyle .iterative-xblock-cell-subtitle p {
    background-color: #c5dcea;
}
