.iterative-xblock-style-redfid .iterative-xblock-student-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.iterative-xblock-style-redfid .iterative-xblock-student-row p {
    margin: 0 !important;
}

.iterative-xblock-style-redfid .iterative-xblock-student-cell {
    flex: 1;
    padding: 5px 10px;
    min-height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.iterative-xblock-style-redfid .iterative-xblock-student-cell textarea {
    width: 100%;
    min-height: 100px;
    font-size: 0.9em;
}

.iterative-xblock-style-redfid {
    border: 2px solid #ff595a;
    border-radius: 10px;
}

.iterative-xblock-style-redfid .exptop {
    padding: 20px;
    background-color: #ff595a;
}

.iterative-xblock-style-redfid .exptop h1 {
    font-size: 1.5em;
    color: white;
    margin-bottom: 0 !important;
    margin-left: 10px;
    font-weight: normal;
}

.iterative-xblock-style-redfid .expmid {
    padding: 20px;
}

.iterative-xblock-style-redfid .iterative-xblock-action {
    text-align: center;
    margin-top: 20px;
}

.iterative-xblock-style-redfid .iterative-xblock-submit {
    background-color: #ff595a;
    background-image: none;
    color: white;
    border: none;
    text-shadow: none;
    font-size: 1em;
    padding: 15px 30px;
}

.iterative-xblock-style-redfid .iterative-xblock-submit:hover {
    background-color: #ff595a !important;
    background-image: none !important;
    color: white;
    border: none;
    text-shadow: none;
    font-size: 1em;
}

.iterative-xblock-style-redfid .iterative-xblock-student-msg p {
    color: red;
    text-align: center;
    margin-top: 30px;
}

.iterative-xblock-style-redfid .iterative-xblock-student-answer-container {
    position: relative;
    width: 100%;
}

.iterative-xblock-style-redfid .iterative-xblock-student-get-answer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: #ff595a;
    background-image: none;
    color: white;
    border: none;
    text-shadow: none;
    font-size: 1em;
    padding: 8px 15px;
    border-radius: 3px;
    font-weight: bold;
    margin: auto;
    cursor: pointer;
    min-width: 100px;
    text-align: center;
}

.iterative-xblock-style-redfid .iterative-xblock-student-answer {
    width: 100%;
    z-index: 1;
    padding: 10px;
    resize: none;
}

.iterative-xblock-style-redfid .iterative-xblock-instructor-select-student-container {
    display: flex;
    align-items: center;
    margin: 10px auto 30px auto;
    justify-content: space-between;
    max-width: 500px;

}

.iterative-xblock-style-redfid .iterative-xblock-instructor-select-student-container p {
    margin-bottom: 0 !important;
    margin-right: 20px;
    font-weight: bold;

}

.iterative-xblock-style-redfid .iterative-xblock-instructor-select-student-container select {
    width: 100%;
}