:root {
  --max-width: 800px;
}

.centered {
  text-align: center;
}

.studio-error-msg {
  color: red;
  margin: 0 10%;
  text-align: center;
}

.studio-warning-msg {
  color: orange;
  margin: 0 10%;
  text-align: center;
}

.setting-help {
  margin-top: 15px;
}

#input_no_answer_message {
  margin-bottom: 30px;
}

.wrapper-comp-settings .list-input.settings-list .iterative-xblock-span-container {
  width: 10%;
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.iterative-xblock-span-container span {
  cursor: pointer;
  width: 80px;
  text-align: center;
  font-size: smaller;
}

.wrapper-comp-setting .setting-label {
  width: 10% !important;
}

.wrapper-comp-setting .setting-input:not(.iterative-content-studio-input) {
  width: 80%;
}

.wrapper-comp-setting .setting-select-input:not(.iterative-content-studio-input) {
  width: 80%;
}

.wrapper-comp-setting .iterative-content-studio-input-container {
  width: 75%;
  display: flex;
  justify-content: start;
}

.iterative-content-studio-input {
  margin: 2px;
}

.iterative-content-studio-input input {
  height: auto !important;
  width: 100% !important;
  margin-top: 5px;
}

.iterative-content-studio-input select {
  height: auto !important;
  width: 100% !important;
}

.iterative-content-row .wrapper-comp-setting {
  display: flex !important;
}

.iterative-xblock-cell-title p {
  text-align: center;
  font-weight: bold;
}

.iterative-xblock-cell-subtitle p {
  text-align: left;
  font-weight: bold;
}

.iterative-xblock-cell-paragraph p {
  text-align: center;
}

.iterative-xblock-cell-subparagraph p {
  text-align: left;
}

.iterative-xblock-student-cell textarea {
  width: 100%;
  min-height: 100px;
  font-size: 0.9em;
}

.iterative-xblock-student-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.iterative-xblock-student-row p {
  margin: 0 !important;
}

.iterative-xblock-student-cell {
  flex: 1;
  padding: 5px 10px;
  min-height: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.expmid {
  padding: 20px;
}

.iterative-xblock-action {
  text-align: center;
  margin-top: 20px;
}

.iterative-xblock-student-answer-container {
  position: relative;
  width: 100%;
}

.iterative-xblock-student-get-answer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-image: none;
  border: none;
  text-shadow: none;
  font-size: 1em;
  padding: 8px 15px;
  font-weight: bold;
  margin: auto;
  cursor: pointer;
  min-width: 100px;
  text-align: center;
}

.iterative-xblock-instructor-select-student-container {
  display: flex;
  align-items: center;
  margin: 10px auto 30px auto;
  justify-content: space-between;
  max-width: 500px;
}
