.iterative-xblock-style-nostyle .iterative-xblock-cell-title {
    background-color: #b7b7b7;
}

.iterative-xblock-style-nostyle .iterative-xblock-cell-subtitle p {
    background-color: #efefef;
}

.iterative-xblock-style-nostyle .iterative-xblock-student-get-answer {
    background-color: #646464;
    color: white;
}

.iterative-xblock-style-nostyle .iterative-xblock-student-msg p {
    color: red;
    text-align: center;
    margin-top: 30px;
}

.iterative-xblock-style-nostyle .iterative-xblock-student-download-pdf {
    background-color: #646464 !important;
    background-image: none !important;
    color: white;
    border: none;
    text-shadow: none;
    font-size: 1em;
}

.iterative-xblock-style-nostyle .iterative-xblock-student-download-pdf:hover {
    background-color: #646464 !important;
    background-image: none !important;
    color: white;
    border: none;
    text-shadow: none;
    font-size: 1em;
}

.iterative-xblock-style-nostyle .iterative-xblock-title {
    text-align: center;
}